{% extends 'blog/base.html' %}

{% block content %}
<h1 class="my-4">About me</h1>
<div class="row flex-md-row-reverse">
    <div class="col-sm-4 text-center my-auto">
        <img src="https://lh6.googleusercontent.com/wI6UiItSFSsIvST6oNvg1ptASGgsk0g2rPDEOJvWihLYs9j6iP_LIXQf_nFO_mMudNSh7Co99ebAxKwGo73i=w1366-h617" class="img-fluid rounded-circle w-75">
    </div>
    <div class="col-sm-8 my-auto">
        <p class="mt-4"><span class="intro-bubble">Hello, I'm</span></p>
        <h2 class="my-2">Jay Newey</h2>
        <h5 class="mb-4">Computer Science Student at University of Birmingham</h5>
        <ul class="list-inline">
            <li><p>
                <span>
                    <img class="about-icon" src="https://media-exp1.licdn.com/dms/image/C510BAQEdLkLApRkMcQ/company-logo_100_100/0?e=1598486400&v=beta&t=EIfjaUNZkyxMmanMDezcJQbltKDqmcFkKOzjIY-9xuU">
                </span>
                University of Birmingham</p>
            </li>
            <li><p>
                <span>
                    <img class="about-icon" src="https://media-exp1.licdn.com/dms/image/C4D0BAQG4YAeUoNmg4w/company-logo_100_100/0?e=1598486400&v=beta&t=QFXzSJ0xwiBl3Ybrcdg1rNggx2GQWZQ00umrN8sfhZQ">
                </span>
                Vodafone UK</p>
            </li>
        </ul>
        <a href="https://github.com/jaynewey" target="_blank"><i class="fab fa-github social"></i></a>
        <a href="https://www.linkedin.com/in/jay-newey-369959195/" target="_blank"><i class="fab fa-linkedin social"></i></a>
    </div>
</div>
{% endblock %}