{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jay Newey</title>
        <link rel='icon' href="{% static 'images/favicon.png' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lato|Roboto+Mono&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body class="container mt-5 d-flex flex-column">
        <div class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand px-1 py-0" href="/">Jay Newey</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>

        </div>
        <div class="container wrapper flex-grow-1 overflow-hidden">
            <hr class="solid">
            <main id="swup" class="transition-fade">
            {% block content %}
            {% endblock %}
            </main>
        </div>
        <footer class="py-5 text-center">
            <div class="container">
                <p class="m-0 text-center">Website by Jay Newey</p>
                <a href="https://github.com/jaynewey" target="_blank"><span class="fab fa-github social"></span></a>
                <a href="https://www.linkedin.com/in/jay-newey-369959195/" target="_blank"><i class="fab fa-linkedin social"></i></a>
            </div>
        </footer>
    </body>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script> const swup = new Swup(); </script>
</html>