{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jay Newey</title>
        <link rel='icon' href="{% static 'images/spade.png' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lato|Roboto+Mono&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    </head>
    <body class="container mt-5 d-flex flex-column">
        <div class="navbar sticky-top navbar-expand-sm navbar-light">
            <a class="navbar-brand navbar-highlight px-1 py-0" href="/">Jay Newey</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav my-2 ml-auto">
                    <li class="nav-item my-2 mx-2">
                        <a class="nav-link navbar-highlight px-1 py-0" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item my-2 mx-2">
                        <a class="nav-link navbar-highlight px-1 py-0" href="{% url 'post_list' %}">Blog</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="container wrapper flex-grow-1 overflow-hidden">
            <hr class="solid">
            <main id="swup" class="transition-fade">
            {% block content %}
            {% endblock %}
            </main>
        </div>
        <footer class="py-5 text-center">
            <div class="container">
                <p class="m-0 text-center">Website by Jay Newey</p>
                <a href="https://github.com/jaynewey" target="_blank"><i class="fab fa-github social"></i></a>
                <a href="https://codepen.io/jaynewey" target="_blank"><i class="fab fa-codepen social"></i></a>
                <a href="https://www.linkedin.com/in/jay-newey-369959195/" target="_blank"><i class="fab fa-linkedin social"></i></a>
            </div>
        </footer>
    </body>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script src="{% static 'js/dist/SwupFormsPlugin.js' %}"></script>
    <script src="{% static 'js/dist/SwupScrollPlugin.js' %}"></script>
    <script> const swup = new Swup({plugins: [new SwupFormsPlugin(), new SwupScrollPlugin()]}); </script>
    <script>
        function updateActive() {
            $('.navbar-nav .nav-link').removeClass('active');
            $('div[id="navbarNavDropdown"] a[href="/' + location.pathname.split("/")[1] + '"]').addClass('active');
        };
        document.addEventListener('DOMContentLoaded',function() {updateActive()});
        document.addEventListener("swup:willReplaceContent",function() {updateActive()});
        document.addEventListener("swup:willReplaceContent",function() {AOS.refresh()});
    </script>
    
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>    
    <script>
    AOS.init();
  </script>
</html>