{% extends 'blog/base.html' %}

{% block content %}
<form action="" autocomplete="off" method="GET">
    <input value="{{request.GET.q}}" name="q" id="search" type="text" class="my-4 header-input w-100" placeholder="All posts" autofocus>
</form>
<div class="card-columns transition-slide">
        {% for post in posts %}
                <a href="{% url 'post_detail' pk=post.pk %}" class="card mb-4 text-dark text-decoration-none">
                        <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                          <div>{% for tag in post.tags_as_list %}
                              <span class="post-tag">&nbsp{{tag}}&nbsp</span>
                                {% endfor %}
                          </div>
                          <div class="mb-1 text-muted">{{ post.created_date }}</div>
                          <div class="mb-1 text-muted">by {{ post.author }}</div>
                          <div class="card-text d-inline-block">{{ post.description|default_if_none:"This post has no description." }}</div>
                          
                        </div>
                        <div class="card-footer">
                                <hr class="solid">
                                <small class="text-muted">Last updated: {{ post.published_date }}</small>
                              </div>
                      </a>
        {% endfor %}
</div>
    {% if user.is_authenticated %}
        <footer style="pointer-events:none;" class="footer fixed-bottom"><a style="pointer-events:auto;" href="{% url 'post_new' %}" class="btn btn-fab btn-gradient shadow-lg">+</a></footer>
    {% endif %}
<script>
    function activateSearch() {
        document.getElementById("search").focus();
    };
    document.addEventListener("swup:contentReplaced",function() {activateSearch()});
    document.addEventListener("keypress", function() {activateSearch()})
</script>
{% endblock %}