{% extends 'blog/base.html' %}

{% block content %}
<hr class="solid">
<h1 class="my-4">All posts</h1>
<div class="card-columns">
        {% for post in posts %}
                <div class="card mb-4 shadow animate__animated animate__fadeInUp">
                        <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ post.title }}
                                    {% if user.is_authenticated %}
                                    <a style="float: right" href="{% url 'post_edit' pk=post.pk %}"><span class="fa fa-edit"></span></a>
                                    {% endif %}
                                </h5>
                          <div class="mb-1 text-muted">{{ post.created_date }}</div>
                          <div class="mb-1 text-muted">by {{ post.author }}</div>
                          <p class="card-text d-inline-block text-truncate">{{ post.text|linebreaksbr }}</p>
                          
                        </div>
                        <div class="card-footer">
                                <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-gradient">Continue reading</a>
                                <hr class="solid">
                                <small class="text-muted">Last updated: {{ post.published_date }}</small>
                              </div>
                      </div>
        {% endfor %}
</div>
{% endblock %}